body {
  background: #c3cfe2;
  color: #5B5B5B;
}

h2 {
  color: white;
  margin-bottom: 0;
}

a {
  color: #B0B3EA;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: -ms-grid;
  display: grid;
}

.card {
  background: black;
  width: 100%;
  height: auto;
  border-radius: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
}

.card__content {
  background: gray;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__overlay {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 2fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 2fr 1fr / 1fr;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.card__overlay:hover {
  opacity: 0;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.sidebar {
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 35%;
  left: 95%;
}

.sidebar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  line-height: 3.2;
}

.sidebar__buttons div {
  width: 300px;
  height: 75px;
  overflow: hidden;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.sidebar__buttons div:hover {
  -webkit-transform: translate(-220px, 0);
          transform: translate(-220px, 0);
}

.sidebar__buttons div span {
  margin-left: 25px;
}

.sidebar__buttons .icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.sidebar__buttons--blog {
  background-color: #e17b77;
}

.sidebar__buttons--blog .fa-laptop-code::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f5fc";
}

.sidebar__buttons--twitter {
  background-color: #00aced;
}

.sidebar__buttons--twitter .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f099";
}

.sidebar__buttons--linkedin {
  background-color: #007bb6;
}

.sidebar__buttons--linkedin .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f0e1";
}

.sidebar__buttons--facebook {
  background-color: #3b5998;
}

.sidebar__buttons--facebook .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f39e";
}

.sidebar__buttons--github {
  background-color: #333;
}

.sidebar__buttons--github .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09b";
}

@media screen and (max-width: 320px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .card__description {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card__description {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .card__description {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .card__description {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */