body {
    background-color: #fff;
}
img {
    width: 20px;
    height: 20px;
}
.menu {
    list-style-type: none;
    -webkit-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.color {
    width: 30%;
    margin: 5px;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: white;
}
.menuToggle {
    height: 20rem;
    visibility: hidden;
    -webkit-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }