.App {
  text-align: center;
}
.container {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(255, 255, 0);
  position: fixed;
  top: 0;
  width: 100%;
}
.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
.container li {
  display: inline-block;
  color: white;
  padding: 8px;
  text-decoration: none;
}
.container li a {
  text-decoration: none;
  padding: 8px;
}
.container li:hover {
  background-color: #111;
}
.container li a:visited {
  color: white;
}
.studentDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.studentNav {
  grid-area: 1 / 1 / 2 / 2;
}
